@import url(reset.css);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #ccc; }

.box {
  width: 100%;
  height: auto; }

.header {
  height: 50px;
  background: #FE8500;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header a {
    padding: 0 10px;
    color: #fff;
    font-size: 12px; }
    .header a:nth-child(2) {
      font-size: 16px; }

.top {
  height: 40px;
  background: #FEE7B3;
  position: relative; }
  .top p {
    padding-left: 30px;
    width: 95%;
    color: #CB5D20;
    line-height: 15px;
    padding-top: 5px; }
    .top p i {
      position: absolute;
      top: 9px;
      left: 6px; }
      .top p i img {
        width: 17px;
        height: 21px; }
    .top p u {
      position: absolute;
      top: 9px;
      right: 6px;
      font-size: 25px;
      color: #A18965; }

.scroll {
  flex: 1;
  overflow-y: scroll; }

.main {
  height: auto;
  background: #fff;
  margin-top: 8px; }
  .main h3 {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc; }
    .main h3 b {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #333;
      border-radius: 100%;
      margin: 0 5px; }
    .main h3 u {
      margin: 0 5px; }
    .main h3 i {
      color: #000; }
    .main h3 em {
      margin: 0 8px;
      color: #ccc;
      font-size: 18px; }

.dll {
  height: 85px;
  position: relative; }
  .dll b {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 100%;
    margin: 0 5px;
    position: absolute;
    top: 27%;
    left: 0px; }
  .dll dl {
    display: flex;
    padding-left: 40px;
    padding-top: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px; }
    .dll dl dt img {
      width: 50px;
      height: 60px; }
    .dll dl dd {
      margin-left: 20px;
      font-size: 13px; }
      .dll dl dd h2 {
        width: 92%;
        color: #000;
        line-height: 18px; }
      .dll dl dd span {
        position: absolute;
        top: 8px;
        right: 6px; }
      .dll dl dd p {
        margin-top: 7px; }
        .dll dl dd p u {
          color: #E7926D;
          font-weight: bold; }
        .dll dl dd p em {
          color: #ccc;
          text-decoration: line-through;
          margin-left: 8px; }
        .dll dl dd p i {
          float: right;
          margin-right: 5px; }

.footer {
  width: 100%;
  height: 84px;
  border-top: 1px solid #ccc;
  background: #fff; }

.last {
  height: 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center; }
  .last h5 {
    flex: 9; }
    .last h5:nth-child(1) b {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 1px solid #8F8F8F;
      margin-right: 6px;
      margin-left: 5px; }
    .last h5:nth-child(2) {
      color: #000;
      display: flex;
      align-items: center;
      margin-left: 53px; }
      .last h5:nth-child(2) button {
        width: 80px;
        height: 40px;
        background: #FE6C00;
        border: 0;
        outline: 0;
        margin-left: 10px; }
      .last h5:nth-child(2) i {
        color: #FE6C00; }

.fot {
  height: 44px;
  display: flex;
  align-items: center; }
  .fot a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .fot a i {
      font-size: 24px; }
    .fot a:nth-child(4) i {
      color: #FF6E05; }

/*# sourceMappingURL=style.css.map */
